<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- FF7 Game Files -->
    <add key="SteamRegKeyRoot" value="HKEY_CURRENT_USER\Software\Valve\Steam" />
    <add key="SteamRegKey" value="SteamPath" />
    <add key="FF7ProcessName" value="ff7_en"/>

    <!-- FPSFix Files -->
    <add key="FPSFixConfigFile" value="FPSFix\HL_Files\Hext_in\ff7.txt" />
    <add key="FPSFixExecutable" value="FPSFix\FPSFIX.exe" />
  </appSettings>
</configuration>